.container {
	height: 100%;
	width: 100%;
	padding: 20px;
}

#dynamic-content {
	width: 100%;
	height: 100%;
}

#cta {
	position: fixed;
	bottom: 16px;
	right: 16px;

	.loading {
		background-color: white;
		font-size: 1.2rem;
		padding: 0.4rem 0.8rem;
	}
}
